{% extends "layout.html" %}

{% block body %}
    <h1>Home</h1>
    <p>Welcome to Model United Nations 2018-2019</p>
    <center><h2>Time to SHSMUN 2018</h2></center>
    <script src="//www.powr.io/powr.js?external-type=html"></script>
    <div class="powr-countdown-timer" id="f1392570_1533609169"></div>
    <center><h2>Time to VOLMUN 2019</h2></center>
    <script src="//www.powr.io/powr.js?external-type=html"></script>
    <div class="powr-countdown-timer" id="f9c1a1fb_1533610492"></div>
{% endblock %}